body{

    background-image: url(bg.jpg);
    height: 100vh;
    background-size: cover; 
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}

.main{
 	max-width: 1200px;
 	margin: 0 auto;
 	width: 100%;
 }

.nav-bar ul {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.nav-bar li {
	display: inline-block;
	float: left;
	width: 180px;
	height: 40px;
	background-color: rgba(0,0,0,0.6);
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	margin-right: 2px;
 } 
.nav-bar li a {
 	text-decoration: none;
 	color: #fff; 
 	display: block;
 	border: 1px solid transparent;
 	transition: 0.6s ease;
 }
 .nav-bar li:hover ul.dropdown {
 	border: 1px solid white;
 	color: #000;
 }

 .nav-bar li ul.dropdown li {
 	display: none;
 }
 .nav-bar li:hover ul.dropdown {
 	display: block;
 }
 .nav-bar li ul.dropdown {
 	position: absolute;
 	display: none;
 	width: 200px;
 	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
 	padding-top: 0;
 }

.nav-bar li ul.dropdown li {
	display: block;
	list-style-type: none;
}
.nav-bar li ul.dropdown li:last child a {border-bottom: none; }

.nav-bar li:hover a {
	background: black;
	color: #fff !important; 
 	border: 1px solid transparent;
}

.nav-bar li:first-child:hover a {border-radius: 3px 0 0 3px; }

.nav-bar li ul.dropdown li:hover a {background: rgba(0, 0, 0, 0.1); }

.nav-bar li ul.dropdown li:first-child:hover a {border-radius: 0; }

.nav-bar li:hover .arrowdown {border-top:  5px solid #fff; }
.arrowdown{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #def1f0;
	position: relative;
	top: 15px;
	right: -5px;
	content: '';
}

.logo img{

	width:150px;
	height: auto;
	float: left;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: black;
	font-size: 70px;

}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: black;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #fff;
}
